@charset "utf-8";

header {
    font-family: 'acay';
    display: block;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: white;
    padding: 4px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: relative;
    z-index: 2500;
}

nav {
    width: 100%;
    display: block;
}

nav>div>a>img {
    position: relative;
    width: 40px;
    margin-right: 185px;
    float: left;
    padding: 7px 0px 3px 10px;
}

.menu {
    position: relative;
    list-style: none;
    float: left;
}

.menu li {
    position: relative;
    float: left;
    text-align: center;
}

.menu li a {
    
    height: 40px;
    background-color: #333;
    width: 160px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px 10px 4px 10px;
}

.menu li a:hover {
    color: #fff;
    font-weight: bold;
    -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.493);
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.493);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.493);
}

.menu li ul {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #333;
    display: none;
}

.menu li:hover ul,
.menu li.over ul {
    display: block;
}

.menu li ul li {
    background-color: #333;
    display: block;
    width: 160px;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
  
#checkbox-menu{
    position: absolute;
    opacity: 0;
}
  
.check {
    visibility:hidden;
    cursor: pointer;
    position: relative;
    display: none;
    height: 22px;
    width: 30px;
}
  
.check span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #fff;
    transition: 0.25s ease-in-out;
}
  
.check span:nth-child(1){
    top: 0;
}
  
.check span:nth-child(2){
top: 9px;
}
  
.check span:nth-child(3){
top: 18px;
}
  
#checkbox-menu:checked + .check span:nth-child(1){
transform: rotate(-45deg);
top: 8px;
}
  
#checkbox-menu:checked + .check span:nth-child(2){
opacity: 0;
}
  
#checkbox-menu:checked + .check span:nth-child(3){
transform: rotate(45deg);
top:8px;
}

@media screen and (min-width: 500px) and (max-width: 830px){

    .check {
        visibility: hidden;
        display: none;
    }

    nav>div>a>img {
        width: 40px;
        margin-right: 80px;
        float: left;
        padding: 7px 0px 3px 10px;
    }
    .menu li a {
        height: 28px;
        background-color: #333;
        width: 100px;
        display: block;
        padding: 20px 5px 8px 5px;
    }
    .menu li ul li {
        width: 100px;
    }
}

@media screen and (min-width: 320px) and (max-width: 500px){
    
    nav>div>a>img {
        margin-right: 60px;
        float: left;
        padding: 7px 0px 3px 10px;
    }
    .container {padding-top: 18px;}

    .check {
        visibility: visible;
        display: block;
        opacity: 100;
        z-index: 1000;
        
    }
    .menu {
        visibility: hidden;
        display: none;
        z-index: 1;
    }
    .menu li {
        position: relative;
        float: left;
        text-align: left;
    }
    .menu li a {
        height: 26px;
        width: 130px;
        display: block;
        padding: 10px 18px 5px 18px;
    }
    .menu li ul {
        position: relative;
        top: 0px;
        display: inline;
        
    }
    
    #checkbox-menu:checked + .check .menu  {
        visibility: visible;
        display: block;
        left: 40px;
        top: -15px;
    }
    .menu li ul li {
        width: 100px;
        text-align: right;
    }
}

