body {
    font-family: epoque;
    background-color: lightskyblue;
}
header {
    text-align: center;
    color: white;
}
main {
    background-color: linen;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 4px 1px rgba(0, 0, 0, 0.137);

}
select#peso {
    margin-right: 15px;
}

section#res {
    
    width: 500PX;
    display: inline-block;
    overflow: hidden;
    line-height: .95em; /*altura da entrelinha*/  
    max-height: 1.9em;    /*altura máxima das linhas*/  
   -webkit-line-clamp: 2; /* número máximo de linhas*/
   -webkit-box-orient: vertical;
   /*white-space: nowrap;*/ /*usado para apagar o que estiver fora do overflow*/ 
   /*dessa forma as reticentcias não aparecem*/
}

footer {
    text-align: center;
    color: white;

}